@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 초기화 */
ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* body */
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* main */
.main {
    width: 840px;
    margin: 100px auto;
}

.contents {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: white;
}

.title {
    font-size: 22px;
    font-weight: bold;
    width: 754px;
    padding: 40px 0 15px 0px;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
}

.user-info {
    width: 754px;
    border: 1px solid #e9e9e9;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 4px;
}
.img-wrap {
    display: flex;
    justify-content: center;
    margin: 30px auto 10px auto;
    width: 5.5rem;
    height: 5.5rem;
}
.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.update-img-form {
    justify-content: center;
}

.user-interest-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.user-interest {
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 23px;
    margin: 5px;
    line-height: 23px;
}
.user-interest > span {
    color: #00ce7c;
    font-weight: bold;
}

.update-interest-btn {
    display: block;
    background: #00ce7c;
    color: white;
    font-weight: 500;
    width: 150px;
    height: 54px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 10px auto 10px auto;
}
.wraps {
    width: 700px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nickname-wrap {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    width: 700px;
    margin: 0px auto 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.inputs {
    width: 700px;
    margin: 5px auto;
    padding-left: 10px;
    box-sizing: border-box;
}

.user-nickname {
    width: 480px;
    margin: 5px auto;
    padding-left: 17px;
    font-size: 17px;
    font-weight: 500;
}
.input-nickname {
    width: 480px;
    margin: 5px auto;
    border-radius: 27px;
    border: 1px solid #e9e9e9;
    padding: 16px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-weight: lighter;
}
.intro-wrap {

}
.user-intro {
    font-size: 17px;
    font-weight: 500;
    padding-left: 5px;
    font-weight: 500;
}
.input-intro {
    height: 100px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding-left: 20px;
    font-weight: lighter;
}
.instagram-wrap {

}

.user-instagram {
    font-size: 17px;
    font-weight: 500;
    padding-left: 5px;
}

.user-instagram > i {
    padding: 0 5px 0 3px;
}
.input-instagram {
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding: 16px 20px;
    font-weight: lighter;
}
.tel-wrap {

}

.user-tel {
    font-size: 17px;
    font-weight: 500;
    padding-left: 5px;
}

.input-tel {
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding: 16px 20px;
    font-weight: lighter;
}
.user-pwd {
    font-size: 17px;
    font-weight: 500;
    padding-left: 5px;
}
.button-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-wrap > button {
    display: block;
    background: #00ce7c;
    color: white;
    font-weight: 500;
    width: 100px;
    height: 54px;
    border: none;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 20px
}


