@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 초기화 */
ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* main */
.main {
    width: 1200px;
    margin: 0 auto;
    min-height: 800px;
    display: flex;
    align-items: center;
}

.contents {
    width: 400px;
    margin: 0 auto;
}

.title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 30px 10px;
}

.error-msg {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.row-title {

}

.input-name {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 4px;
}
.email-wrap {

}
.email-wrap > input {
    width: 291px;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 54px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    padding: 0 10px;
}
.input-email {

}
.send-email-verf-btn, .confirm-verf-num {
    display: inline-block;
    margin: 0px;
    border: none;
    background: #00ce7c;
    height: 54px;
    color: white;
    border-radius: 0 4px 4px 0;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.find-btn {
    display: block;
    background: #00ce7c;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 54px;
    border: none;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}







