@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 초기화 */
ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* body */
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* main */
.main {
    width: 840px;
    margin: 100px auto;
    background-color: white;
}

.contents {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    width: 754px;
    padding: 40px 0 15px 0px;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}

.thead-wrap {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 90%;
    height: 57px;
    margin: 20px auto 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid #e9e9e9;
    background-color: rgb(238, 255, 244);
    text-align: center;
    color: gray;
}

.thead-id {
    float: left;
    width: 10%;
    box-sizing: border-box;
}
.thead-title {
    float: left;
    width: 45%;
    box-sizing: border-box;
}
.thead-date {
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.thead-status {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.td-wrap {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.td-id {
    float: left;
    width: 10%;
    box-sizing: border-box;
}

.td-title {
    float: left;
    width: 45%;
    box-sizing: border-box;
}

.td-date {
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.td-status {
    float: left;
    width: 20%;
    box-sizing: border-box;
}
.write-btn {
    display: block;
    background: #00ce7c;
    color: white;
    font-weight: 500;
    width: 120px;
    height: 46px;
    border: none;
    margin: 20px 0 20px 50px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
}
.paging-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    float: none;
}

.page {
    padding: 6px;
    margin-right: 10px;
}
.paging-active {
    color: #00ce7c;
    font-weight: bold;
}