*{
    text-decoration: none;
}

.side-container-board{
    text-align: center;
    margin: 50px 0;

}

.side-container-board li{
    background: aliceblue;
    border-radius: 10px;
    margin-bottom: 7px;
}

.side-container-board a{
    display: flex;
    justify-content: space-between;
    width: 170px;
    text-decoration: none ;
    color: black;
    padding: 26px 30px;
}


.side-container-stats{
    margin: 50px 0;
    text-align: center;
}

.side-container-stats a{
    display: flex;
    justify-content: space-between;
    width: 170px;
    text-decoration: none ;
    color: black;
    padding: 26px 30px;
}
.side-container-stats li{
    background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 7px;
}
