*{
    text-decoration: none;
}

.side-container-board{
    text-align: center;
    padding: 30px 22px 22px 22px;
    margin: 100px 46px 20px 0;
    width: 314px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.menu-header {
    width: 270px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
}
.user-img-wrap {
    width: 50px;
    height: 50px;
}
.user-img-wrap > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.menu-nickname {
    font-size: 17px;
    font-weight: 500;
    padding-left: 12px;
}

.side-container-board li{
    background: #fafafa;
    margin-bottom: 14px;
    width: 270px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #e9e9e9;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.side-container-board a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none ;
    color: black;
    font-size: 14px;
}

.side-container-board span {
    float: right;
    color: grey;
}


.side-container-stats {
    text-align: center;
    padding: 30px 22px 22px 22px;
    margin: 60px 46px 20px 0;
    width: 314px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.side-container-stats li{
    background: whitesmoke;
    margin-bottom: 7px;
    width: 270px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #e9e9e9;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.side-container-stats a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none ;
    color: black;
    font-size: 14px;
}
.side-container-stats span {
    float: right;
    color: grey;
}

