@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 초기화 */
ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* body */
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* main */
.main {
    width: 840px;
    margin: 100px auto;
}

.contents {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: white;
}

.title {
    font-size: 22px;
    font-weight: bold;
    width: 754px;
    padding: 40px 0 15px 0px;
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.question {
    width: 100%;
}

.menu {
    width: 90%;
    margin: 10px auto 0 auto;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
}

.show-question {
    width: 50%;
    height: 60px;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #e9e9e9;
    cursor: pointer;
    font-size: 16px;
    line-height: 60px;
    color: rgb(106, 106, 106);
    font-weight: 500;
    background-color: rgb(238, 255, 244);
}

.show-answer {
    width: 50%;
    height: 60px;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    line-height: 60px;
    color: rgb(106, 106, 106);
    font-weight: 500;
}

.question-info {
    border: 1px solid #e9e9e9;
    margin: 0 auto;
    width: 90%;
    border-top: none;
    padding: 10px;
}

.place {
    color: rgb(106, 106, 106);
    font-size: 14px;
    padding-left: 10px;
}
.answer-status {
    float: right;
    padding-right: 10px;
    color: #00ce7c;
}
.question-title {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.hashtag-wrap {
    overflow: hidden;
    color: grey;
}

.first-tag {
    float: left;
    padding-left: 10px;
}

.update-btn {
    padding-left: 10px;
    border:none;
    color: grey;
    background-color: white;
}

.delete-btn {
    padding-left: 10px;
    border:none;
    color: grey;
    background-color: white;
}

.view-cnt {
    color: grey;
    padding-left: 5px;
    padding-right: 5px;
}

.answer-cnt {
    color: grey;
    padding-left: 5px;
}

.paging-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
.page {
    padding: 6px;
    margin-right: 10px;
}
.paging-active {
    color: #00ce7c;
    font-weight: bold;
}