@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 초기화 */
ol, ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* body */
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.main {
    width: 1200px;
    margin: 100px auto;
}

.contents {
    width: 500px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 80px 0 50px 0;
}

.form-title {
    font-weight: bold;
    font-size: 20px;
}

.input-list {
    border: 15px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 5px;
}

.row-title {
    margin: 5px 0;
    padding-left: 10px;
    box-sizing: border-box;
}

.email-wrap, .pwd-wrap, .name-wrap, .tel-wrap, .gender-wrap, .birthday-wrap, .terms-wrap {
    box-sizing: border-box;
    border-bottom: 15px solid whitesmoke;
    box-sizing: border-box;
    padding: 0 10px 0px 10px;
}
.contents input {
    padding: 26px 20px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 4px;
}

input::placeholder {
    color: #d0cccc;
}

.email-wrap > input {
    width: 353px;
    margin-bottom: 10px;
    height: 20px;
}

.email-wrap > button {
    display: inline-block;
    margin: 0px;
    border: none;
    background: #00ce7c;
    height: 54px;
    color: white;
    border-radius: 0 4px 4px 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.input-password {
    width: 450px;
    height: 24px;
    box-sizing: border-box;
    margin-top: 10px;
}
.check-text {
    margin: 5px;
}
.pwd-confirm {

}

.input-name {
    width: 450px;
    height: 24px;
    box-sizing: border-box;

}

.input-phone-number {
    width: 450px;
    height: 24px;
    box-sizing: border-box;

}

.select-gender {
    width: 450px;
    height: 56px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.input-birth-year {
    width: 40%;
    height: 24px;
    box-sizing: border-box;

}

.select-birth-month {
    width: 28%;
    height: 54px;
    box-sizing: border-box;

    padding-left: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.input-birth-day {
    width: 30%;
    height: 24px;
    box-sizing: border-box;

}

.terms-wrap {
    border-bottom: none;
}

.terms-list {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.terms-checkbox {
    margin-right: 10px;
}

.terms-title {
    width: 81%;
}
.terms-title > label {
    cursor: pointer;
}

.terms-link {
    display: block;
    float: right;
    margin-left: 25px;
}

.register-btn {
    display: block;
    background: #00ce7c;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 54px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
}