@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* 초기화 */
ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.main {
    width: 840px;
    margin: 0 auto;
}

.contents {
    width: 100%;
}

.title {
    width: 90%;
    margin: 10px auto;
}

.search-condition {
    width: 90%;
    margin: 10px auto;
}

.search-wrap {
    overflow: hidden;
    width: 90%;
    margin: 10px auto;
}

.search-date {

}

.search-btn {

}

.review-wrap {
    width: 90%;
    margin: 10px auto;
    border: 1px solid black;
}

.review-count {
    width: 90%;
    margin: 10px auto;
}

.th-wrap {
    overflow: hidden;
    width: 90%;
    margin: 10px auto;
    border: 1px solid black;
    text-align: center;
}

.th-review-id {
    float: left;
    width: 15%;
}

.th-review-content {
    float: left;
    width: 40%;
}

.th-review-rating {
    float: left;
    width: 20%;
}

.th-reg-date {
    float: left;
    width: 25%;
}

.td-wrap {
    overflow: hidden;
    width: 90%;
    margin: 10px auto;
    border: 1px solid black;
    text-align: center;
}

.td-review-id {
    float: left;
    width: 15%;
}

.td-review-content {
    float: left;
    width: 40%;
}

.td-review-rating {
    float: left;
    width: 20%;
}

.td-reg-date {
    float: left;
    width: 25%;
}

.paging-container {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}