span.man-star{
  color: red;
}

input.hashes{
  outline: none;
  border: 0px solid black;
}

table{
  border: 1px solid black;
}

tr{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

th{
  border: 1px solid black;
}