@charset "UTF-8";

/* Base */
/*html { font-family: "Ropa Sans", sans-serif; font-size: 20px; line-height: 1.5; }*/
body {
    /*background-color: rgb(240, 240, 240); */
    color: rgb(0, 0, 0);
    min-width: 1200px;
    /*margin-top:30px;*/
    background: white;
}
h1, h2, h3, p, ul { margin: 0; }
ul { padding-left: 0; }
ul li { list-style-type: none; }
a { color: inherit; text-decoration: none; }
img { vertical-align: middle; }


.page-header {
    font-size:17px;
    /*font-weight: 600;*/
    background-color: rgb(255, 255, 255);
    /*opacity: 0.2;*/
    height:142px;  width: 100%;  min-width: 1200px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    position:absolute; /*아래 dummy 텍스트와의 공백을 없애기 위해*/
    z-index: 9999999999;
    padding-top: 10px;
}

.page-header.sticky { position: fixed; top: 0; }
/* 스크롤양이 많아져 sticky class가 붙었을때의 위치 */

.page-header > .inner {
    margin: auto; width: 1160px;
}

.no-boxshadow .page-header {
    border-bottom: 1px solid rgb(204, 204, 204);
}

/* Logo */
.site-logo {
    float: left;
    margin-left: -20px;
}

.site-logo img {
    width:180px;
    padding-top: 15px;

}
/* Primary nav */
.primary-nav {
    /*float: right;*/
    float: left;
    line-height: 65px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.primary-nav li {
    float: left;
}

.primary-nav li:hover{
    /*font-weight: bold;*/

}
.primary-nav a {
    display: block;
    /*padding: 0 1.36em;*/
}

.primary-nav a:first-child {
    display: block;
    margin-left: 40px;
}

.primary-nav a:hover {
    /*background-color: rgb(240, 240, 240);*/
    /*font-weight: bold;*/
    /*opacity: 0.7;*/
    color: #00ce7c;
}

.sub-nav-wrap{
    margin-top: 60px;
    width: 1200px;
    margin: 0 auto;
}

.sub-nav-tap-menu{
    float: left;
    /*float: left;*/
    line-height: 65px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sub-nav-tap-menu li{
    float: left;
}
.sub-nav-tap-menu a{
    display: block;
    padding: 0 1.36em;
}
.sub-nav-tap-menu a:hover{
    /*background-color: rgb(240, 240, 240);*/
    /*font-weight: bold;*/
    /*opacity: 0.7;*/
    color: #00ce7c;
}

.sub-nav-tap{
    /*display:block;*/
}

.primary-nav{
    display: flex;
    justify-content: space-between;

    width: 1000px;
}
#searchBox{
    width: 220px;
    height: 32px;
    font-size: 15px;
    border: 0;
    /*border-radius: 15px;*/
    outline: none;
    padding-left: 10px;
    /*background-color: rgb(233, 233, 233);*/
    border-bottom: 2px solid black;
}
#searchMainBtn{
    background: white;
    border : none;
    margin-left: 10px;
}