@charset "UTF-8";

/* Base */
body {
    /*background-color: rgb(240, 240, 240); */
    color: rgb(0, 0, 0);
    min-width: 1200px;
    /*margin-top:30px;*/
    background: white;
}
h1, h2, h3, p, ul { margin: 0; }
ul { padding-left: 0; }
ul li { list-style-type: none; }
a { color: inherit; text-decoration: none; }
a:hover{   text-decoration: none;}
img { vertical-align: middle; }


.page-header {
    font-size:17px;
    /*font-weight: 600;*/
    background-color: rgb(255, 255, 255);
    /*opacity: 0.2;*/
    height:142px;  width: 100%;  min-width: 1200px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    position:absolute; /*아래 dummy 텍스트와의 공백을 없애기 위해*/
    z-index: 9999999999;
    padding-top: 10px;
}

.page-header.sticky { position: fixed; top: 0; }
/* 스크롤양이 많아져 sticky class가 붙었을때의 위치 */

.page-header > .inner {
    margin: auto; /*width: 1160px;*/
    width:1200px
}

.no-boxshadow .page-header {
    border-bottom: 1px solid rgb(204, 204, 204);
}

/* Logo */
.site-logo {
    float: left;
    /*margin-left: -20px;*/
}

.site-logo img {
    width:180px;
    padding-top: 30px;
}

#searchBox{
    width: 220px;
    height: 32px;
    font-size: 15px;
    border: 0;
    outline: none;
    padding-left: 10px;
    border-bottom: 2px solid black;
}
#searchMainBtn{
    background: white;
    border : none;
    margin-left: 5px;
}
