@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input, select
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus, select:focus {outline: 2px solid #00ce7c;} /* outline 테두리 속성 수정 */


input[type="radio"]{
    position: relative;
    top: 50%;
    opacity: 1;
    appearance: none;
    outline: 0px;
    box-shadow: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px 5px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 100%;
    cursor: pointer;
}

input[type="radio"]:checked::after {
    position: absolute;
    background-color: #00ce7c;
    border: 1px solid #00ce7c;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 1px;
    border-radius: 100%;
    cursor: pointer;
}

input[type="radio"]::after {
    content: "";
}