.side-container-board{
    text-align: center;
    margin: 50px 0;

}


.side-container ul:nth-child(1){
    text-align: left;
    margin-bottom: 30px;
}

.side-container-board li{
    background: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.side-container-board a{
    display: flex;
    justify-content: space-between;
    width: 170px;
    text-decoration: none ;
    color: black;
    padding: 18px 30px;
}


.side-container-stats{
    margin: 50px 0;
    text-align: center;
}

.side-container-stats a{
    display: flex;
    justify-content: space-between;
    width: 170px;
    text-decoration: none ;
    color: black;
    padding: 18px 30px;
}
.side-container-stats li{
    background: whitesmoke;
    border-radius: 5px;
    margin-bottom: 15px;
}

.side-container label{
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 7px;
}
