/* 공통 요소 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.top-form {
    background-color: rgb(248,248,248);

}
.a-tag {
    text-decoration: none;
}


/* 여행 친구 찾기 이미지 */
.main-img {
    width: 1200px;
    min-height: 341px;
    margin: 0 auto;
    color: rgb(255,255,255);
    background-image: url("/image/accompany/main-img.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 정렬 버튼 부터 끝까지 그룹 */
.main-group {
    width: 1200px;
    /*min-height: 2000px;*/
    margin: 0 auto;
}
.select-region-box {
    margin: 20px auto 0 auto;
    width: 1200px;
    height: 100px;
    /*height: 00px;*/
    border: 3px solid #e9e9e9;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    border-radius: 7px;
    box-sizing: border-box;
}
.area1 {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid #e9e9e9;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 20px;
    margin: 5px;
    box-sizing: border-box;

}
.area2 {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid #e9e9e9;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 20px;
    margin: 5px;
    box-sizing: border-box;

}
.area3 {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid #e9e9e9;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 20px;
    margin: 5px;
    box-sizing: border-box;

}
.area1:hover, .area2:hover, .area3:hover {
    border: 2px solid #00ce7c;
}
.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    width: 100px;
    height: 60px;
    background-color: #00ce7c;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 10px;
}


.new-write-btn {
    /*width: 167px;*/
    /*background-color: rgb(255,255,255);*/
    /*border: 1px solid rgb(37,37,37);*/
    /*padding: 10px 19px;*/
    /*color: rgb(37,37,37);*/
    /*font-weight: 700;*/
    /*font-size: 16px;*/
    /*border-radius: 30px;*/
    /*margin-right: 20px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    background: #00ce7c;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
}

/* 정렬 버튼 행전체 */
.sort-bar2 {
    width: 1200px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
/* 정렬 텍스트 */
.sort-text {
    display: block;
    width: 40px;
    height: 17px;
    color: #6a6a6a;
    margin: -1px 10px 0 20px;
}
/* 정렬 선택 버튼 */
.sort-button {
    width: 82px;
    font-weight: 350;
    line-height: 21px;
    color: rgb(37,37,37);
    margin-left: 600px;
}
/* 정렬 선택 버튼-옵션 */
.search-option {
    height: 40px;
    display: block;
    padding: 5px 3px 9px 10px;
    border: 2px solid black;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 16px;
    /*color: #6a6a6a;*/
    color: #000000;
    border-radius: 3px;
}
.search-option:hover {
    border: 2px solid #00ce7c;
}

/* 모집중인 글만 보기 */
.only-recruit {
    width: 205px;
    background-color: rgb(255,255,255);
    padding: 10px 19px;
    color: rgb(37,37,37);
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
}
.only-recruit:hover {
    width: 205px;
    border: 2px solid #00ce7c;
}
.only-recruit2 {
    width: 205px;
    background-color: #00ce7c;
    padding: 10px 19px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

/* 리스트 영역 그룹 지정 */
.list-group {
    display: flex;
    /* Tiles적용할 때 이걸 넣어야 수직으로 리스트 정렬 됨 */
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    height: 377px;
    margin-top: 24px;
}
/* 리스트 하나씩 묶음 */
.list-one {
    width: 282px;
    height: 377px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 15px;
    padding-bottom: 25px;
    /* background-color: royalblue; */
}
.list-thumbnail2 {
    position: relative;
    overflow: hidden;
}
.list-thumbnail2:hover {
    opacity: 0.7;
}
/* 리스트-썸네일 */
.list-thumbnail {
    width: 282px;
    height: 282px;
    background-color: #e9e9e9;
    border-radius: 10px;

}
.list-thumbnail:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}
.thumbnail-text {
    /*width: 82px;*/
    height: 31px;
    border-radius: 16px;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 12px;
    color: #FFFFFF;
    padding-left: 6px;
    padding-right: 7px;
    margin-top: 5px;
}
.location-img-area {
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: rgb(233,233,233);
    text-align: center;
    line-height: 21px;
}
.location-text {
    line-height: 21px;
    padding-left: 5px;
}
/* 리스트-모집중, 제목 라인 */
.list-title-line {
    display: flex;
    width: 282px;
    height: 19px;
    margin: 20px 0 0 0;
}
/* 모집중/지난여행 */
.recruit-on-off {
    width: 65px;
    height: 24px;
    font-size: 16px;
    color: rgb(0,206,124);
}
.recruit-off-text {
    color: #9a9a9a;
}
/* 제목 */
.list-title {
    width: 223px;
    color: #000;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}
/* 내용 */
.list-content-line {
    width: 282px;
    height: 19px;
    margin: 9px 0 0 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 프로필사진, 닉네임, 조회수 라인 */
.list-nickname-line {
    display: flex;
    width: 282px;
    height: 24px;
    margin: 9px 0 0 0;
}
/* 프로필사진 */
.profile-img2 {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border-radius: 50%;
    /*background-image: url("/image/accompany/profile-img.svg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
/* 닉네임 */
.nickname {
    width: 150px;
    line-height: 24px;
    /*padding-right: 35px;*/
}
.view-cnt-line {
    display: flex;
    width: 48px;
    height: 15px;
    margin-left: 80px;
    margin-top: 7px;
}
/* 조회수 아이콘 */
.view-cnt-icon {
    width: 12px;
    height: 12px;
    background-image: url("/image/accompany/view-cnt-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}
/* 조회수 */
.view-cnt {
    color: rgb(154,154,154);
    margin-left: 4px;
}

/* 페이징 */
.paging-container {
    width:1200px;
    height: 60px;
    text-align: center;
    margin-top: 1000px;
}
.paging {
    width: 1200px;
    height: 60px;
}
.paging-active {
    /*background-color: rgb(216, 216, 216);*/
    /*border-radius: 5px;*/
    color: rgb(24, 24, 24);
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;

}
.paging-prev-next {
    background-color: #e9e9e9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
    color: rgb(24, 24, 24);
}
/*.paging-next {*/
/*    display: inline-block;*/
/*    width: 34px;*/
/*    height: 34px;*/
/*    background-image: url("/image/accompany/paging-next.svg");*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    !*line-height: 10px;*!*/
/*}*/









