body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #fff;
}
div.content{
    margin-top: 50px;
}
h1.board-title{
    font-size: 22px;
    font-weight: 600;
}
hr.separator {
    margin-bottom: 20px;
}
div.search-wrap{
    margin: 20px 10px 20px 0;
}
table.board-table {
    width: 100%;
}
table.board-table th{
    border: 1px none black;
    border-bottom: 1px solid #D5D5D5FF;
    border-top-style: solid;
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
}
table.board-table tr td {
    border-bottom: 1px solid #D5D5D5FF;
    padding: 15px;
    text-align: center;
}

table.board-table th.number{
}
table.board-table th.title{
    width: 700px;
}
table.board-table th.date{
}
table.board-table th.count{
}

div.paging{
    text-align: center;
    margin-top: 50px;
}

div.paging a{
    padding: 10px;
}
.search-container {
    width: 100%;
    height: 110px;
    margin-top : 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form {
    height: 37px;
    display: flex;
}
.search-option {
    width: 100px;
    height: 100%;
    outline: none;
    margin-right: 15px;
    border: 1px solid #ccc;
    color: gray;
}
.search-option > option {
    text-align: center;
}
.search-input {
    color: gray;
    background-color: white;
    border: none;
    height: 100%;
    width: 300px;
    font-size: 15px;
    border: none;
    /*padding: 5px 7px;*/
}
.search-input::placeholder {
    color: gray;
}
.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    width: 20%;
    height: 100%;
    background-color: #00ce7c;
    color: rgb(209, 209, 209);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: none;
    margin-left: 15px;
}

.search-button:hover {color: rgb(165, 165, 165); }
input[name='keyword']:focus{ outline: none; }