<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.devcamp.tripssoda.mapper.AccompanyMapper">
    <select id="selectUserAccompanyCnt" parameterType="int" resultType="int">
        SELECT count(*)
        FROM accompany
        WHERE user_id = #{userId}
    </select>

    <select id="selectAllUserAccompany" parameterType="map" resultType="AccompanyDto">
        SELECT *
        FROM accompany
        WHERE user_id = #{userId}
        ORDER BY id DESC
        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>

    <sql id="selectFromAccompany">
        SELECT id, user_id, nickname, profile_img, region_code, start_at, end_at, thumbnail, title, content, member_cnt, hashtag, chat_url, created_at, view_cnt
        FROM accompany
    </sql>

    <sql id="searchCondition">
        <choose>
            <when test='option=="time"'>
                ORDER BY created_at DESC, id DESC
            </when>
            <when test='option=="view"'>
                ORDER BY view_cnt DESC, id DESC
            </when>
            <otherwise>
                ORDER BY created_at DESC, id DESC
            </otherwise>
        </choose>
    </sql>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM accompany
    </select>
    <select id="waitingCount" resultType="int">
        SELECT count(*)
        FROM accompany
        WHERE status = 0
    </select>
    <insert id="insert" parameterType="AccompanyDto">
	    INSERT INTO accompany (user_id, nickname, profile_img, region_code, start_at, end_at, thumbnail, title, content,
                               member_cnt, hashtag, chat_url, created_at, created_by)
	    VALUES(#{userId}, #{nickname}, #{profileImg}, #{regionCode}, #{startAt}, #{endAt}, #{thumbnail}, #{title}, #{content},
               #{memberCnt}, #{hashtag}, #{chatUrl}, now(), #{createdBy})
    </insert>
    <select id="select" parameterType="int" resultType="AccompanyDto">
        <include refid="selectFromAccompany"/>
        WHERE id = #{id}
    </select>
    <!--    SET region_code = #{regionCode}, start_at = #{startAt}, end_at = #{endAt}, thumbnail = #{thumbnail},-->
    <!--    title = #{title}, content = #{content}, member_cnt = #{memberCnt}, hashtag = #{hashtag}, updated_by = #{userId}, updated_at = now()-->
    <update id="update" parameterType="AccompanyDto">
        UPDATE accompany
        SET title = #{title}, content = #{content}, hashtag = #{hashtag}, chat_url = #{chatUrl}, member_cnt = #{memberCnt}, thumbnail = #{thumbnail}
        WHERE id = #{id} AND user_id = #{userId}
    </update>
    <delete id="delete" parameterType="map">
        DELETE FROM accompany
        WHERE id = #{id} AND user_id = #{userId}
    </delete>
    <delete id="deleteAll">
        DELETE FROM accompany
    </delete>
    <update id="increaseViewCnt" parameterType="int">
        UPDATE accompany
        SET view_cnt = view_cnt + 1
        WHERE id = #{id}
    </update>
    <select id="selectAll" resultType="AccompanyDto">
        <include refid="selectFromAccompany"/>
        ORDER BY created_at DESC, id DESC
    </select>
    <select id="waitingSelectPage" parameterType="map" resultType="AccompanyDto">
        <include refid="selectFromAccompany"/>
        WHERE status = 0
        <include refid="searchCondition"/>
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="selectPage" parameterType="map" resultType="AccompanyDto">
        <include refid="selectFromAccompany"/>
        WHERE true
        <include refid="searchCondition"/>
        LIMIT #{offset}, #{pageSize}
    </select>

<!--    도배글차단카운트-->
    <select id="selectUserAccompanyCntToday" parameterType="int" resultType="int">
        SELECT count(*)
        FROM accompany
        WHERE user_id = #{userId} and date(created_at) = date(now());
    </select>


</mapper>