<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devcamp.tripssoda.mapper.CategoryCodeMapper">
    <select id="selectAllCategoryCode" resultType="String">
        SELECT category_code FROM category_code
    </select>

    <select id="selectCategoryName" parameterType="String" resultType="String">
        SELECT name FROM category_code where category_code=#{categoryCode}
    </select>
</mapper>