<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.devcamp.tripssoda.mapper.InquiryMapper">
    <select id="selectUserInquiry" parameterType="int" resultType="InquiryDto">
        SELECT *
        FROM inquiry
        WHERE id = #{id}
    </select>
    <select id="selectUserInquiryCnt" parameterType="int" resultType="int">
        SELECT count(*)
        FROM inquiry
        WHERE user_id = #{userId}
    </select>

    <select id="selectAllUserInquiry" parameterType="map" resultType="InquiryDto">
        SELECT *
        FROM inquiry
        WHERE user_id = #{userId}
        ORDER BY id DESC
        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>

    <update id="updateUserInquiry" parameterType="InquiryDto">
        UPDATE inquiry
        SET title = #{title}, content = #{content}, updated_by = #{userId}
        WHERE id = #{id} AND user_id = #{userId}
    </update>

    <update id="updateAdminInquiry" parameterType="InquiryDto">
        UPDATE inquiry
        SET ans_user_id = #{ansUserId}, ans_content = #{content}, ans_date = now(),
            updated_by = #{updatedBy}, updated_at = now(), status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserInquiry" parameterType="InquiryDto">
        DELETE FROM inquiry
        WHERE id = #{id} AND user_id = #{userId}
    </delete>

    <insert id="insertUserInquiry" parameterType="InquiryDto">
        INSERT INTO inquiry
        (user_id, title, content, menu_code, created_by, updated_by)
        VALUES (#{userId}, #{title}, #{content}, #{menuCode}, #{createdBy}, #{updatedBy})
    </insert>



    <select id="selectAllInquiryCnt" parameterType="int" resultType="int">
        SELECT count(*)
        FROM inquiry
    </select>

    <select id="selectAllInquiry" parameterType="SearchCondition" resultType="InquiryDto">
        SELECT *
        FROM inquiry
        ORDER BY id DESC
            LIMIT #{offset}, #{pageSize}
    </select>

</mapper>