<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.devcamp.tripssoda.mapper.PartnerMapper">
    <insert id="insertPartner" parameterType="PartnerDto">
		INSERT INTO partner
        (
            user_id,
            reg_number,
            company_name,
            partner_logo,
            intro,
            intro_attachment,
            service_region,
            product_type,
            manager_name,
            manager_tel,
            terms_agreement,
            conclusion_date,
            created_at,
            created_by,
            updated_at,
            updated_by
        )
        VALUES
        (
            #{userId},
            #{regNumber},
            #{companyName},
            #{partnerLogo},
            #{intro},
            #{introAttachment},
            #{serviceRegion},
            #{productType},
            #{managerName},
            #{managerTel},
            #{termsAgreement},
            now(),
            now(),
            #{userId},
            now(),
            #{userId}
        )
    </insert>

<!--    <select id="searchSelectPartner" resultType="PartnerDto"   >-->
<!--        select * from partner-->
<!--    </select>-->


<!--    <select id="selectOnPartner" resultType="PartnerDto">-->
<!--        select * from partner-->
<!--        where on_partnership = 1-->
<!--    </select>-->

    <select id="selectOnApplicant" resultType="PartnerDto">
        select * from partner
        where on_partnership = 0
    </select>

    <update id="updateToPartner" parameterType="PartnerDto">
        UPDATE partner
        SET 'on_partnership' = 1
    </update>

    <select id="selectPartnerInfo" parameterType="int" resultType="PartnerDto">
        select * from partner
        where id = #{id}
    </select>

    <select id="count" resultType="int">
        select count(*) from partner;
    </select>


    <select id="selectOnPartner" parameterType="SearchCondition" resultType="partnerDto">
        SELECT *
        FROM partner
        WHERE true
        <choose>
            <when test='option=="NA"'>
                AND company_name LIKE concat('%', #{keyword}, '%')
            </when>

            <when test='option=="NI"'>
                AND manager_name LIKE concat('%', #{keyword}, '%')
            </when>

        </choose>

        and on_partnership = 1

        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectPartnerInformation" parameterType="int" resultType="PartnerDto">
        SELECT *
        FROM partner
        WHERE user_id = #{userId}
    </select>

    <update id="updatePartnerInformation" parameterType="PartnerDto">
        UPDATE partner
        SET
            reg_number = #{regNumber},
            company_name = #{companyName},
            partner_logo = #{partnerLogo},
            intro = #{intro},
            intro_attachment = #{introAttachment},
            service_region = #{serviceRegion},
            product_type = #{productType},
            manager_name = #{managerName},
            manager_tel = #{managerTel},
            on_partnership = 0,
            updated_at = now(),
            updated_by = #{userId}

        WHERE user_id = #{userId}
    </update>
</mapper>