<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.devcamp.tripssoda.mapper.ProductReviewMapper">
    <select id="selectProductReview" parameterType="int" resultType="ProductReviewDto">
        SELECT *
        FROM product_review
        WHERE id = #{id}
    </select>

    <select id="selectAllUserProductReview" parameterType="Map" resultType="ProductReviewDto">
        SELECT pr.id AS id,
               pr.product_id AS productId,
               pr.user_id AS userId,
               pr.content AS content,
               pr.rating AS rating,
               pr.created_at AS createdAt,
               pr.created_by AS createdBy,
               pr.updated_at AS updatedAt,
               pr.updated_by AS updatedBy,
               ps.id AS scheduleId
        FROM tripssoda.product_review AS pr
        LEFT JOIN tripssoda.product_schedule AS ps ON pr.product_id = ps.product_id
        WHERE pr.user_id = #{userId}
        GROUP BY pr.id
        ORDER BY pr.id DESC
        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>

    <select id="selectAllUserProductReviewCnt" parameterType="int" resultType="int">
        SELECT count(*)
        FROM product_review
        WHERE user_id = #{userId}
    </select>

</mapper>