<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.devcamp.tripssoda.mapper.ProductReviewMapper">
    <select id="selectProductReview" parameterType="int" resultType="ProductReviewDto">
        SELECT *
        FROM product_review
        WHERE id = #{id}
    </select>

    <select id="selectAllUserProductReview" parameterType="map" resultType="ProductReviewDto">
        SELECT *
        FROM product_review
        WHERE user_id = #{userId}
        ORDER BY id DESC
        LIMIT #{sc.offset}, #{sc.pageSize}
    </select>

    <select id="selectAllUserProductReviewCnt" parameterType="int" resultType="int">
        SELECT count(*)
        FROM product_review
        WHERE user_id = #{userId}
    </select>

</mapper>