span.man-star{
  color: red;
}
strong{
  font-size: 22px;
}
input[type="text"], input[type="number"], input[type="file"] {
  display: inline-block;
  width: 80%;
  font-size: 13px;
  line-height: 20px;
  padding: 12px 20px;
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
}


table{
  /* border-top: 1px solid gray;
  border-bottom: 1px solid gray; */
  padding: 10px;
}

tr{
  /* border: 1px solid gray; */
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
td{
  /* border: 1px solid gray; */
  padding: 10px;
  width: 800px;
}

th{
  padding: 10px;
  vertical-align:middle;
  width:auto;
  height: 65px;
  line-height:65px;
  font-size: 14px;
}

.btnAdd{
  border-radius: 5px;
  border: 1px solid #0067A3;
  background-color: #fff;
  padding: 10px 20px;
  color:#0067A3;
}

.btnAdd:hover{
  background-color: #0067A3;
  transition-duration: 0.5s;
  color: white;
}

.btnDel{
  border-radius: 5px;
  border: 1px solid #D94844;
  background-color: #fff;
  padding: 10px 20px;
  color:#D94844;
  width: 30%;
}

.btnDel:hover{
  background-color: #D94844;
  transition-duration: 0.5s;
  color: white;
}

.subBtn{
  border-radius: 5px;
  border: 1px solid #00ce7c;
  background-color: #fff;
  padding: 10px 20px;
  color:#00ce7c;
  width: 30%;
}

.subBtn:hover{
  background-color: #00ce7c;
  transition-duration: 0.5s;
  color: white;
}

input[type='radio']:checked + label {
  border: 1px solid #ccc;
  background-color: #f6bb43;
  transition-duration: 0.5s;
  width: 100px;
  margin-right:-6px;
  padding: 10px 20px;
}

input[type='radio'] + label {
  border: 1px solid #f6bb43;
  width: 100px;
  margin-right:-6px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}

.filebox label {
  display: inline-block;
  padding: 9px 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid gray;
  color: gray;
  vertical-align: middle;
  margin-top: 10px;
}

.filebox label:hover{
  transition-duration: 0.5s;
  color: #fff;
  background-color: gray;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  border-radius: 3px;
}

.category-info{
  font-size: 14px;
  color: gray;
}

.sel-category{
  display:inline-block;
  width:250px;
  font-size: 16px;
}

#termsAgreement{
  /* margin-top: 25px; */
}

span.terms{
  display: inline-block;
  margin-top: 25px;
  font-size: 16px;
}

.cke_contents{ 
  min-height:300px; 
  min-width: 580px;
} 

.partner_form{
  margin-top: 70px;
  margin-left: 70px;
  width: 1000px;
}